<div id="<%= dom_id user %>">
  <div id="connexion-container">
    <div id="connexion" class="mb-6">
      <% if @user.avatar.attached? %>
        <div class="flex justify-center my-3">
          <%= image_tag @user.avatar, class: "w-full", style: "max-width: 10rem;" %>
        </div>
      <% end %>
      <h1 class="text-4xl font-bold text-center"><%= page_title! @user.name %></h1>
      <hr class="my-4 text-base-content">

      <div class="text-center">
        <p>
          <strong>Pseudo (username) :</strong>
          <%= @user.username.humanize %>
        </p>
        <p>
          <strong>Rôle :</strong>
          <%= @user.role.humanize %>
        </p>
        <p>
          <strong>Email :</strong>
          <%= @user.email %>
        </p>

        <p>
          <strong>Créé le:</strong>
          <%= l(@user.created_at) %>
        </p>

        <hr class="my-4 text-base-content">

        <div class="flex justify-center mt-6">
          <hr class="my-3">
          <%= link_to 'Modifier', edit_user_path(@user), class: "btn btn-primary btn-outline mr-3 !normal-case" %>
          <%= button_to 'Déconnexion', destroy_user_session_path, method: :delete, class:'btn btn-accent btn-outline !normal-case', 'data-turbo': false %>
        </div>
      </div>
    </div>
  </div>
</div>