<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @user %>

  </div>
</div>

<h2 class="mb-6">Espace de travail</h2>
<p>
  <strong>Nom: </strong>
  <%= @user.account.name %>
  <% if current_user.admin? %>
    <%= link_to "Modifier", edit_account_path(@user.account), class:"text-secondary" %>
  <% end %>
</p>

<p class="mt-4">
  <%= link_to "Participants", users_path, class:"link" %> |
  <%= link_to "Modèles de projets", templates_path, class:"link" %> |
  <%= link_to "Audit Trail ( journal des modifications )", audits_index_path, class:"link" %>
  <% if current_user.admin? %>
    | <%= link_to "Mail Logs ( journal des envois de mails )", mail_logs_path, class:"link" %>
  <% end %>
</p>


<% if @user.participants.any? %>
  <hr class="style-two my-8">

  <h2 class="mb-6">Vos abonnements</h2>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr style="text-align:left;color:lightgray;">
          <th />
          <th>Nom du projet</th>
          <th>Recevoir les notifications par mail ?</th>
          <th>Recevoir la Daily Newsletter?</th>
          <th>Recevoir la Weekly Newsletter?</th>
          <th />
        </tr>
      </thead>  
      <tbody>
        <%= render partial:'participants/participant', collection:@user.participants %>
      <tfoot>
        <tr><th colspan=6></th></tr>
      </tfoot>
    </table>
  </div>
  <p>
    L'envoi de notifications par e-mail est un service payant.
    <%= link_to 'Contactez-nous', 'https://philnoug.com/contact', class:'link', target: '_blank' %>
    pour activer le service.
  </p>
<% end %>

<% if current_user.admin? %>
  <hr class="style-two my-8">

  <h2 class="mb-6">Zone dangereuse</h2>
  <%= link_to "Supprimer ce compte", suppression_compte_account_path(@user.account), class:"link link-error" %>
<% end %>