<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
</head>

<div id="welcome">
  <%= image_tag "undraw_qa_engineers_dg-5-p.svg", width: "20%", class:"mt-12" %>
  <h1 class="!text-4xl mt-12 text-primary">Camino v2</h1>
  <h2 class="mb-6">Gérez vos projets, en équipe et en mobilité</h2>

  <ul class="list-disc mb-6">
    <li>Découpez vos projets en listes de choses à faire</li>
    <li>Invitez vos contacts à participer aux projets</li>
    <li>Assignez aux participants les choses à faire, fixez des échéances</li>
    <li>Suivez l'activité des participants en vous abonnant aux notifications (travaux terminés, nouveaux commentaires, ajout/modification...)</li>
    <li>Créez des formulaires pour collecter des données complémentaires à vos projets (inventaire, rapport d'intervention, etc.)</li>
  </ul>

  <h2 class="my-4">Fonctionnalités</h2>
  <div>
    <ul>
      <li>Création rapide de projets à partir de vos <b>modèles de projets</b></li>
      <li>Choix du <b>workflow</b> (type de déroulement de projet) :
        <ol>
          <li>Libre; les tâches peuvent être terminées librement, dans n'importe quel ordre</li>
          <li>Linéaire; toutes les tâches d'une liste doivent être terminées avant de pouvoir passer à la liste suivante<br>
          Quand une tâche est terminée, le participant assigné à la tâche suivante en est immédiatement informé</li>
        </ol>
      </li>
      <li>Un <b>journal</b> recense, minute par minute, l'activité des participants. Toutes les modifications y sont consignées</li>
      <li>Un <b>agenda</b> permet de visualiser les échéances globales</li>
      <li>La <b>'To-do'</b> liste les choses à faire, en attente, en souffrance ou faites par participant</b>
      <li>Les participants peuvent mener des <b>discussions</b> autour de choses à faire</li>
      <li>Une <b>notification</b> (via courriel) peut être envoyée aux participants du projet :
        <ol>
          <li>Après chaque modification, ajout ou suppression d'information</li>
          <li>Lors de l'assignation d'une tâche à un participant</li>
          <li>Avant chaque échéance</li>
        </ol>
      </li>
      <li>Une notification peut être envoyée à un <b>participant extérieur</b> au projet (client) à la réalisation d'une tâche</li>
      <li>Regroupement des projets par <b>mots-clés</b></li> 
      <li>Une <b>couleur</b> pour chaque projet afin de mieux repérer les informations s'y rapportant</li>
    </ul>
  </div>


  <div class="flex items-center bg-slate-100 my-12">
    <div class="carousel w-full" data-turbo="false">
      <div id="slide1" class="carousel-item relative w-full">
        <%= image_tag "carousel/projets.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide9" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide2" class="btn btn-circle btn-secondary btn-outline shadow-lg" style="animation: pulse 2s infinite;">❯</a>
        </div>
      </div> 
      <div id="slide2" class="carousel-item relative w-full">
        <%= image_tag "carousel/projet.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide1" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide3" class="btn btn-circle btn-secondary btn-outline shadow-lg">❯</a>
        </div>
      </div> 
      <div id="slide3" class="carousel-item relative w-full">
        <%= image_tag "carousel/todolist.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide2" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide4" class="btn btn-circle btn-secondary btn-outline shadow-lg">❯</a>
        </div>
      </div>
      <div id="slide4" class="carousel-item relative w-full">
        <%= image_tag "carousel/todo.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide3" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide5" class="btn btn-circle btn-secondary btn-outline shadow-lg">❯</a>
        </div>
      </div>
      <div id="slide5" class="carousel-item relative w-full">
        <%= image_tag "carousel/agenda.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide4" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide6" class="btn btn-circle btn-secondary btn-outline shadow-lg">❯</a>
        </div>
      </div>
      <div id="slide6" class="carousel-item relative w-full">
        <%= image_tag "carousel/documents.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide5" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide7" class="btn btn-circle btn-secondary btn-outline shadow-lg">❯</a>
        </div>
      </div>
      <div id="slide7" class="carousel-item relative w-full">
        <%= image_tag "carousel/tables.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide6" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide8" class="btn btn-circle btn-secondary btn-outline shadow-lg">❯</a>
        </div>
      </div>
      <div id="slide8" class="carousel-item relative w-full">
        <%= image_tag "carousel/dashboard.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide7" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide9" class="btn btn-circle btn-secondary btn-outline shadow-lg">❯</a>
        </div>
      </div>
      <div id="slide9" class="carousel-item relative w-full">
        <%= image_tag "carousel/user.png" %>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-5 top-1/2">
          <a href="#slide8" class="btn btn-circle btn-secondary btn-outline shadow-lg">❮</a> 
          <a href="#slide1" class="btn btn-circle btn-secondary btn-outline shadow-lg">❯</a>
        </div>
      </div>
    </div>
  </div>
  <h2 class="my-4">Formulaires & Tables de données</h2>
  <p>
    Créez vos propres formulaires pour collecter des informations complémentaires à vos projets (temps passé, ressources consommées, rapports d'intervention, etc.).
    Ces formulaires peuvent contenir des données variées (texte, nombre, euros, oui/non, liste déroulante).
    Les données sont collectées dans des tables de données que vous pouvez ensuite exporter vers Excel.</p>
  
  <h2 class="my-4">Mobilité</h2>
  <p>Accédez à Camino depuis votre smartphone</p>
  <p>Saisissez l'URL https://camino2.herokuapp.com dans le navigateur Web de votre téléphone.</p>

  <div class="flex flex-wrap gap-8 my-4">
    <div class="mockup-phone">
      <div class="camera"></div> 
      <div class="display">
        <div class="artboard artboard-demo phone-1 pt-8">
          <%= image_tag "carousel/mobile_projets.png" %>
        </div>
      </div>
    </div>
    <div class="mockup-phone">
      <div class="camera"></div> 
      <div class="display">
        <div class="artboard artboard-demo phone-1 pt-8">
          <%= image_tag "carousel/mobile_projet.png" %>
        </div>
      </div>
    </div>
    <div class="mockup-phone">
      <div class="camera"></div> 
      <div class="display">
        <div class="artboard artboard-demo phone-1 pt-8">
          <%= image_tag "carousel/mobile_todolist.png" %>
        </div>
      </div>
    </div>
    <div class="mockup-phone">
      <div class="camera"></div> 
      <div class="display">
        <div class="artboard artboard-demo phone-1 pt-8">
          <%= image_tag "carousel/mobile_todo.png" %>
        </div>
      </div>
    </div>
    <div class="mockup-phone">
      <div class="camera"></div> 
      <div class="display">
        <div class="artboard artboard-demo phone-1 pt-8">
          <%= image_tag "carousel/mobile_todos.png" %>
        </div>
      </div>
    </div>
    <div class="mockup-phone">
      <div class="camera"></div> 
      <div class="display">
        <div class="artboard artboard-demo phone-1 pt-8">
          <%= image_tag "carousel/mobile_dashboard.png" %>
        </div>
      </div>
    </div>
  </div>

  <h2 class="my-4 mt-16">Projet Open-Source</h2>
  <p>
    Les sources du projet Camino2 sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/Camino2", 
                "https://github.com/philippe-nougaillon/Camino2",
                class: 'link' %>
  </p>

  <h2 class="my-4">Développement</h2>
  <p>
    Camino2 est développé et maintenu par 
    <%= link_to 'Studio Philnoug & Partners', 'https://www.philnoug.com', class:'link', target: '_blank' %>
  </p>

  <h2 class="my-4">Mises à jour et nouveautés</h2>
  <p>
    <%= link_to 'Consulter le Wiki', 'https://github.com/philippe-nougaillon/Camino2/wiki', class:'link', target: '_blank' %>
  </p>

  <h2 class="my-4">Support et services</h2>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou de l'aide pour installer Camino2 sur votre serveur ?
    <%= link_to 'Contactez-nous', 'https://www.philnoug.com/contact', class:'link', target: '_blank' %>
  </p>

  <h2 class="my-4">Contact</h2>
  <p>
    Vous avez une question, une remarque ou un projet à nous soumettre ?
    <%= link_to 'Contactez-nous', 'https://www.philnoug.com/contact', class:'link', target: '_blank' %>
  </p>

</div>

<%= link_to "Connexion", new_user_session_path, class:'btn btn-primary btn-outline my-12' %>