<h1 class="mb-6">
  Projets
  <% if policy(Project).new? %>
    <%= link_to new_project_path, title:'Ajouter un projet' do %>
      <div class="badge badge-accent badge-outline rounded badge-lg pb-0.5 shadow">+</div>
    <% end %>
  <% end %>
</h1>

<% if @tags.any? %>
  <div class="mb-4">
    <span>
      Tags :
      <% tag_cloud(@tags, ['badge-sm', '', 'badge-md', 'badge-lg']) do |tag, css_class| %>
        <%= link_to(tag.name, projects_path(tag:tag.name), class: 'badge badge-outline ' + css_class) %>
      <% end %>
    <span>
  </div>
<% end %>

<% if @projects.any? %>
  <div class="overflow-x-auto">
    <table class="table table-normal">
      <thead>
        <tr class="text-accent">
          <td>Nom / Description</td>
          <th>Échéance</th>
          <th>Charge</th>
          <th>Progression</th>
          <th>Phase en cours</th>
          <th>Participants</th>
          <th>MÀJ</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr class="hover">
            <td class="mb-8 pl-2" style="border-left: 7px solid <%= project.color %>">
              <%= link_to project.name.humanize, project, class: 'text-lg text-primary' %>
              <br>
              <i><small><%= truncate(project.description, length: 100) %></small></i>
            </td>
            <td><%= l(project.duedate) if project.duedate %></td>
            <td>
              <%= number_with_precision(project.todos.sum(:charge_est), precision: 2) %> j
              / <%= number_with_precision(project.todos.sum(:charge_reelle), precision: 2) %> j
            </td>
            <td>
              <% unless project.todos.count.zero? %>
                <progress class="progress progress-success w-56" value=<%= project.pct_avancee %> max="100"></progress>
              <% end %>
            </td> 
            <td>
              <% if project.workflow? and project.current_todolist %>
                <small><%= truncate(project.current_todolist.name, length: 15) %></small>  
              <% end %>
            </td>
            <td>
              <div class="flex">
                <%= link_to users_path(project_id: project.slug) do %>
                  <div class="avatar-group -space-x-6">
                    <% project.users.each do |user| %>
                      <div class="avatar placeholder">
                        <% if user.avatar.attached? %>
                          <div class="w-8 rounded-full !bg-slate-500">
                            <%= image_tag(user.avatar, size:'15x15', alt:'', class:"mini_avatar inline") %>
                          </div>
                        <% else %>
                          <div class="bg-primary-focus text-neutral-content rounded-full w-8">
                            <span class="text-primary-content"><%= user.username.first.humanize %></span>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <%= link_to invite_path(id:project.slug), title:'Inviter un nouveau participant', class:'ml-2' do %>
                  <div class="badge badge-accent badge-outline rounded badge-lg mt-2 pb-0.5 shadow">+</div>
                <% end %>
              </div>
            </td>
            <td style="color:lightgrey"><%= "Il y a #{time_ago_in_words(project.last_update)}" if project.logs.any? %></td>
          </tr>
          <tr />  
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <% unless params[:search].blank? %>
    <i>Aucun projet à afficher...</i>
  <% else %>
    <p>
      Vous ne participez à aucun projet actuellement.
      <br>
      Cliquez sur
      <%= link_to new_project_path do %>
        <span class="badge badge-accent badge-outline rounded badge-lg pb-0.5 shadow">+</span>
      <% end %>
      pour créer un nouveau projet.
    </p>
  <% end %>
  <br>
<% end %>


<% if @logs.any? %>
  <hr class="style-two">
  <h2 class="mt-6">
    Activité
  </h2>
  <%= render partial:'logs/log', collection:@logs, day:0, user_id:0 %>
  <br>
  <% if @logs.count > 5 %>  
    <small><i>Liste des 5 derniers changements. <%= link_to "Afficher tout", logs_path, class:"link" %></i></small>
    <br>
  <% end %>
  <br>
<% end %>


<% if @comments.any? %>
  <hr class="style-two">
  <h2 class="mt-6">
    Discussions
  </h2>
  <%= render partial:'comments/commentfull', collection:@comments, as: :comment, comment_day:0, user_id:0  %>
  <br>
  <% if @comments.count >= 5 %>
    <small><i>Liste des 5 derniers commentaires. <%= link_to "Afficher tout", comments_path %></i></small>
    <br>
  <% end %>
  <br>
<% end %>
