<div class="mb-8 pl-2" style="border-left: 7px solid <%= @project.color %>">
  <div class="flex items-center">
    <h2 class="text-primary"><%= page_title! @project.name.humanize %></h2>
    <%= link_to "Modifier", edit_project_path(@project), class: 'ml-3 text-secondary' %> 
  </div>
  <% unless @project.description.blank? %>
    <i><%= @project.description %></i>
  <% end %>
</div>

<% unless @project.pct_avancee.zero? %>
  <span>
    Progression : 
    <progress class="progress progress-success !w-56" value=<%= @project.pct_avancee %> max="100"></progress>
    <small>(<%= @project.pct_avancee %>%)</small>
  </span>
<% end %>

<% if @project.workflow? and @project.current_todolist %>
  <span>| Phase en cours : <%= @project.current_todolist.name %></span>
<% end %>

<% if @project.duedate %>
  <span>| Échéance :<strong><%= l(@project.duedate) %></strong></span>
<% end %>

<% if @project.todos %>
  <span>
    | Charge :<strong><%= number_with_precision(@project.todos.sum(:charge_est), precision: 2) %></strong>
    / <strong><%= number_with_precision(@project.todos.sum(:charge_reelle), precision: 2) %></strong> jours
  </span>
<% end %>

<% if @project.tag_list.any? %>
  <span>
  | Tags :
    <% tag_cloud(@project.tags, ['badge-sm', '', 'badge-md', 'badge-lg']) do |tag, css_class| %>
      <%= link_to(tag.name, projects_path(tag:tag.name), class: 'badge badge-outline ' + css_class) %>
    <% end %>
  </span>
<% end %>

<div class="mt-2">
  <% if @project.todolists.any? %>
    <% if @project.todos.any? %>
      <%= form_tag project_path, method: :get, class:'mb-2' do %>
        <span>
          Afficher :
          <%= radio_button_tag :show_only_undone, "no", params[:show_only_undone] == "no", { onchange: "this.form.submit();", class: 'radio radio-accent radio-sm' } %> Tout
          <%= radio_button_tag :show_only_undone, "yes", params[:show_only_undone] == "yes", { onchange: "this.form.submit();", class: 'radio radio-accent radio-sm ml-4' } %> Reste à faire
        </span>
      <% end %>
    <% end %>
  <% else %>
    <small>
      <i>
        Il n'y a aucune liste pour l'instant...
        <br><br>
        Ces listes de choses à faire (Todo List) ou phases séquentielles (Mode linéaire) servent à découper un projet en tranches ou par thématique. 
        <br>
        Ex: Préparation / Travaux / Réception ou Début / Milieu / Fin (Mode Libre) ou Prospection => Evaluation => Devis => Commande => Livraison => Facturation (Mode Linéaire)
        <br><br>
        Cliquez sur 
        <%= link_to new_todolist_path(id: @project.slug), title: 'Ajouter une Todo List/Phase' do %>
          <div class="badge badge-accent badge-outline rounded badge-lg pb-0.5 shadow">+</div>
        <% end %> 
        pour saisir le nom de votre première liste.
      </i>
    </small>
  <% end %>
</div>


<% unless @project.memo.blank? %>
  &nbsp;&nbsp;<i><%= @project.memo %></i>
<% end %>
<br>

<div class="overflow-x-auto">
  <table class="table table-normal">
    <thead>
      <td><%= @project.workflow? ? 'Phases' : 'Todo List' %></td>
      <th>Tâches <%= params[:show_only_undone] == "yes" ? "(à faire)" : "(toutes)" %></th>
      <th>Réalisation</th>
      <th>Échéance</th>
      <th>Charge est.</th>
      <th>Réelle</th>
      <th>MÀJ</th>
      <th>Écart</th>
    </thead>
    <tbody>
      <%= render partial: 'todolists/todolist', collection: @todolists %>
    </tbody>
    <tfoot>
      <tr>
        <th>
          <% if current_user.admin? %>
            <%= link_to new_todolist_path(id: @project.slug), title: 'Ajouter une Todo List/Phase' do %>
              <div class="badge badge-accent badge-outline rounded badge-lg pb-0.5 shadow">+</div>
            <% end %>
          <% end %>
        </th>
        <td colspan=7></td>
      </tr>
    </tfoot>  
  </table>
</div>


<% if @logs.any? %>
  <br>
  <hr class="style-two">
  <h2 class="mt-4">
    Activité
  </h2>
  <table id="logs">
    <%= render partial:'logs/log', collection: @logs, :day => 0 %>
  </table>
  <br>
  <% if @logs.count > 5 %>
    <small>
      <i>Liste des 5 derniers changements <%= link_to "Afficher tout", logs_path(project_id:@project.id), class:"link" %></i>
    </small>
    <br>
  <% end %>
<% end %>

<% if @comments.any? %>
  <br>
  <hr class="style-two">
  <h2 class="mt-4">
    Discussions
  </h2>
  <%= render partial:'comments/commentfull', collection:@comments, as: :comment, day:0  %>
  <br>
  <% if @project.comments.count > 5 %>
    <small><i>Liste des 5 derniers commentaires <%= link_to "Afficher tout", comments_path(project_id:@project.id) %></i></small>
    <br>
  <% end %>
<% end %>
