<div class="mb-6">
  <h1>
    <%= page_title! "Table: #{@table.name.humanize}" %>
  </h1>
  <%= link_to "Modifier", show_attrs_path(id:@table), title:"Modifier les colonnes", class:'text-secondary' %>
</div>


<% if @table.fields.any? %>
  <% if @table.values.any? %>

    <%= form_tag table_path, method: :get, class: 'mb-4' do %>
      <div class="flex items-center">
          <%= label_tag :project, 'Projet :', class:'font-normal' %>
          <%= select_tag :project, 
                                  options_for_select(@table.projects.pluck(:name).uniq.sort, params[:project]), 
                                  include_blank: true,
                                  class:'select select-sm select-bordered mr-8 ml-2',
                                  onchange: 'this.form.submit()' %>
      </div>
    <% end %>

    <div class="overflow-x-auto">
      <table class="table table-zebra table-normal">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Par</th>
            <th>Projet</th>
            <% @table.fields.each do | field | %>
              <th><%= field.name %></th>
            <% end %>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% count = 0 %>  
          <% @table.record_index.times do | i | %>
            <% index = i + 1 %>  
            <% if @values.records_at(index).any? %>
              <% count += 1 %> 
              <% record = @values.records_at(index).first %>
              <tr class="hover">
                <th class="font-bold">
                  <%= index %>
                </th>
                <td>
                    il y a <%= time_ago_in_words record.created_at %>
                </td>
                <td>
                  <%= image_tag(record.user.avatar, alt:'', class:"mini_avatar inline") if record.user.avatar.attached? %>
                  <%= record.user.username if record.user %>
                </td>
                <td>
                  <% if record.todo %>
                    <span class="pl-1" style="border-left: .3rem solid <%= record.todo.project.color %>">
                      <%= link_to record.todo.fullname, edit_todo_path(record.todo) %>
                    </span>
                  <% end %>
                </td>
                <% @table.fields.each do | field | %>
                  <td class="font-bold">
                    <%= field.values.records_at(index).first.data if field.values.records_at(index).first %>
                  </td>
                <% end %>
                <td><%= button_to "[X]", delete_record_url(@table.slug, record_index:index), method: :delete, form: { data: {'turbo-confirm': 'Are you sure?' } } %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td />
            <% @table.fields.count.times do %>
              <td />
            <% end %>
            <td /><td /><td /><td />
          </tr>
        </tfoot>
      </table>
    </div>
    <p class="mb-4">
      <%= "#{count} enregistrement#{@table.size > 1 ? 's':''} sur #{@table.size} au total" %>
    </p>
    <%= link_to url_for(params.permit.merge(format:'xls')) do %>
      <%= image_tag 'excel_logo.png', size:'25x25' %>
      <span class="hover:underline">
        Exporter vers Excel
      </span>
    <% end %>
  <% else %>
    Il n'y a aucune valeur à afficher. Pour afficher de nouvelles données, modifiez une tâche et utilisez le lien "Ajouter des données...".
  <% end %>
  <br>
<% else %>
  <% unless params[:attrs] %>
    Cette table n'a pas encore de colonnes... 
    <%= link_to "Ajouter des colonnes", show_attrs_path(id:@table), class: 'link' %>
  <% end %>
<% end %>
<br><br>
