<!DOCTYPE html>
<html lang="fr" data-theme="winter">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.46.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <%= render partial: "partials/gtag" %>
    <%= render partial: "partials/favicon" %>
  </head>

  <body class="bg-base-100 min-h-screen pb-12">
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <div data-controller="service-worker">
      <%= render partial: "partials/navbar" %>
      <main class="mx-auto px-2 lg:px-12">
        <%= render partial: "partials/welcome_message" if user_signed_in? && !session[:welcome_message] %>
        <%= yield %>
        <%= render partial: "partials/notification" %>
      </main>
    </div>
  </body>
</html>
